/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:wght@100;300&display=swap');
body{
  font-size:larger;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.clr{
  background-color: rgb(73,83,85);
  color: aliceblue;
}

li{
  margin: 0 10px;
}

/* Navbar */

.parent{
  width: 70%;

}


